database=mysql
spring.datasource.url=jdbc:mysql://{{ dbip }}/petclinic
spring.datasource.username={{ dbuser }}
spring.datasource.password={{ dbpasswd }}
spring.jpa.hibernate.ddl-auto=none
logging.level.org.springframework=INFO
spring.profiles.active=production