#!/bin/bash
./unlock_vault.sh

dbuser=$(vault read secret/dbinfo | grep '^user' | awk '{print $2 }')
dbpasswd=$(vault read secret/dbinfo | grep '^passwd' | awk '{print $2 }')

cat > /opt/petclinic/config/application.properties <<_END_
database=mysql
spring.datasource.url=jdbc:mysql://{{ dbip }}/petclinic
spring.datasource.username=$dbuser
spring.datasource.password=$dbpasswd
spring.jpa.hibernate.ddl-auto=none
logging.level.org.springframework=INFO
spring.profiles.active=production
_END_

vault operator seal >/dev/null