#!/bin/bash

#Link to correct vault
export VAULT_SKIP_VERIFY=1
export VAULT_ADDR=https://{{ vault_dns }}:8200

# Unlock the vault for use
if [[ $(vault status | grep '^Sealed' | awk '{print $2}') != "true" ]]
then 
	echo "Vault is already unsealed"
else
	#Now unseal vault
	keys=$(./getkeys)
	while [[ $(vault status | grep '^Sealed' | awk '{print $2}') = "true" ]]
	do
		useline=$(( 1 + $RANDOM % 5 ))
		key=$(echo "$keys" | head -$useline | tail -1) 
		vault operator unseal $key
	done

	echo "Vault unsealed"
fi
